@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --body-bg: hsl(0, 0%, 100%);
  --top-bg: hsl(225, 100%, 98%);
  --Card-bg: hsl(227, 47%, 96%);
  --heading-text-color: hsl(228, 12%, 44%);
  --main-text-color: hsl(230, 17%, 14%);
}

html[data-theme='light'] {
  --body-bg: hsl(0, 0%, 100%);
  --top-bg: hsl(225, 100%, 98%);
  --Card-bg: hsl(227, 47%, 96%);
  --heading-text-color: hsl(228, 12%, 44%);
  --main-text-color: hsl(230, 17%, 14%);
}

html[data-theme='dark'] {
  --body-bg: hsl(230, 17%, 14%);
  --top-bg: hsl(232, 19%, 15%);
  --Card-bg: hsl(228, 28%, 20%);
  --heading-text-color: hsl(228, 34%, 66%);
  --main-text-color: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--body-bg);
  color: var(--main-text-color);
}

h1 {
  font-size: clamp(1.2rem, 2vw, 3rem);
}

h2 {
  font-weight: bolder;
}

h3 {
  font-size: clamp(.9rem, 2vw, 1.5rem);

}

h4 {
  font-size:  1rem;
  font-weight: bolder;
}

.heading {
  color: var(--heading-text-color);
}

.stats-heading {
  margin-top: 0;
}
.second-heading {
  padding-bottom: 1rem;
}

.statistics-numbers {
  font-size: 4rem;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-BG {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80%;
  z-index: -1;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  background: var(--top-bg);
}

.containerS {
  margin: 0 10%;
}
.container {
  display: grid;
  gap: 1.87rem;
  text-align: center;
}
.top-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, auto));
}
.dark-mode-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media screen and (min-width: 375px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}
@media screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
  }

  .card-BG {
    bottom: 75%;
  }

  .dark-mode-container {
    display: flex;
    justify-content: end;
    margin-top: 0;
  }

  .dark-mode-container>* {
    padding: 0 1rem;
    margin: 1rem;
  }
}

.followers-container:nth-child(1) {
  border-top: 4px solid hsl(208, 92%, 53%);
}

.followers-container:nth-child(2) {
  border-top: 4px solid hsl(203, 89%, 53%);
}

.followers-container:nth-child(3) {
  border-top: 4px solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  border-image-slice: 1;
}

.followers-container:nth-child(4) {
  border-top: 4px solid hsl(348, 97%, 39%);
}

.fr-cont {
  padding: 3% 0;
}

.followers-container {
  padding: 3rem 0;
}

.status-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.status-grid>* {
  height: 100%;
  line-height: 4.55rem;
  text-align: center;
}

.items {
  border-radius: 5px;
  background-color: var(--Card-bg);
}

.up {
  color: hsl(163, 72%, 41%);
}

.down {
  color: hsl(356, 69%, 56%);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 3rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Toggle Button */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(230, 22%, 74%);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: hsl(232, 19%, 15%);
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

input:checked+.slider {
  background-image: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:checked+.slider:before {
  transform: translateX(26px);
}